@font-face{
    font-family: Oswald-Light;
    font-style: normal;
    font-weight: light;
    src: local('Oswald-Light'), url('/static/TeamSite/fonts/Oswald/static/Oswald-Light.ttf') format('opentype');
}

@font-face{
    font-family: Oswald-Bold;
    font-style: normal;
    font-weight: bold;
    src: local('Oswald-Bold'), url('/static/TeamSite/fonts/Oswald/static/Oswald-Bold.ttf') format('opentype');
}

body{
    font-family: Oswald-Light;
    font-size: 24px;
    font-height: 36px;
    background-image: url(https://i.pinimg.com/originals/70/31/1e/70311e33f550a83fbee04ccb8e82bc04.gif);
    background-position: 50% 50%;
    background-size: cover;
    color: #fff;
}

.card{
    background: none;
}

.card-title{
    font-family: Oswald-Bold;
}

.tournament_first, tournament_second{
    font-size: 24px;
    font-height: 36px;
    margin-bottom: .5em;
    text-index: 20px;
}
